#!/bin/bash
# This script sets your Git identity automatically using Chezmoi data
git config --global user.email "frank.chen@gmail.com"
git config --global user.name "Frank Chen"
echo "✅ Git identity configured!"
