# Proxmox Main Host
Host pve
    HostName 192.168.1.10
    User root

# Catch-all for Proxmox Subnets
# This ensures that even if you use standard 'ssh', the user is correct
Host 192.168.*.*
    User root
    # Ensures Ghostty features work on old LXC containers
    SetEnv TERM=xterm-256color
