{{- if or (eq .role "desktop") (eq .role "laptop") }}
# See https://wiki.hyprland.org/Configuring/Monitors/

env = GDK_SCALE,1

{{- if eq .role "laptop" }}
monitor = eDP-1,1920x1080@60,0x1364,1
monitor = DP-1,3840x2160@60,1920x0,1.2
{{- else if eq .role "desktop" }}
monitor = ,3840x2160@60,auto,1.25
{{- end }}

{{- end }}
